.custom-btn-line-cash-flow {
  position: relative;
  padding: 5.5px 25px;
  border-radius: 8px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
}

.btn-2-line-cash-flow {
  border-radius: 6px;
  border: 2px solid #2d303a;
  color: #fff;
  background: #2d303a;
}

.active-btn-line-cash-flow {
  background: #0050ad;
}
