.signIn {
    animation-name:rotate  ;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.signUp {
    animation-name:rotate ;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
@keyframes comeIn {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes rotate {
    from {
        transform: rotateY(180deg);

    }
    to {
        transform: rotateY(360deg);

    }
}