.btnInfoFilter {
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}

.btnFilter .ant-popover {
    padding-top: 0px;
}

.btnFilter .ant-popover-inner {
    width: 172px;
    padding: 0px !important;
}