#stockDetail .MuiTabPanel-root {
  padding: 0px !important;
}

#stockDetail .MuiBox-root {
  margin-bottom: 8px;
  border-bottom: none !important;
}

#stockDetail .MuiButtonBase-root {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
