#stockDetail .MuiTabs-root {
  border-bottom: 1px solid #34a3f3;
}

#stockDetail .MuiTabs-scroller {
  display: grid !important;
  place-items: center;
}

/* #stockDetail .MuiTabs-flexContainer {
  justify-content: space-evenly;
} */

#stockDetail .MuiTabPanel-root {
  padding: 0px !important;
}

#stockDetail .MuiBox-root {
  margin-bottom: 8px;
  border-bottom: none !important;
}

#stockDetail .MuiButtonBase-root {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

#stockDetail .MuiTabs-indicator {
  display: none !important;
}

.label-dark {
  color: white; /* Màu label trong dark mode */
}

/* Chế độ light mode */
.label-light {
  color: black; /* Màu label trong light mode */
}
