.buttonStyle {
  position: relative;
  width: 150px;
  font-size: 12px;
  border: none;
  background: #0050ad;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow:
    #007dc6 0px 5px 2px,
    #007dc6 0px 6px 5px;
}

.buttonStyle:active {
  top: 4px;
  box-shadow:
    #007dc6 0px 3px 2px,
    #000 0px 3px 5px;
}
