.button {
  position: relative;
  width: 150px;
  font-size: 14px;
  border: none;
  background: #1e5d8b;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: #1c82ad 0px 7px 2px, #1c82ad 0px 8px 5px;
}

.button:active {
  top: 4px;
  box-shadow: #1c82ad 0px 3px 2px, #000 0px 3px 5px;
}
