.ag-header-cell-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-header-container {
  background-color: #0050ad;
}

.ag-theme-alpine .ag-header-cell-label {
  color: white;
}
